# Python virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

#Kiro spec files
.kiro/

# Data files - Large CSV datasets from NASA Exoplanet Archive
*.csv


# OS files
.DS_Store
Thumbs.db
